@model IEnumerable<HCIFinalProject.Models.Person>

@{
    ViewBag.Title = "Home Page";

}
<h2>Individual People</h2>

@*<div class="row">
    <div class="col-md-4">
        <h2>People</h2>
        <p>
            Select from @Model.Count()
            people:
        </p>
        <ul>
            @foreach (var person in Model)
            {
                <li>@person.firstname @person.lastname - @person.cell</li>
            }
        </ul>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.middlename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.familyId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.middlename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.relationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.familyId)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
            </td>
        </tr>
    }

</table>


    @*</div>
    <div class="col-md-4">
        <h2>Get more People</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Capture </h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>

